.expense {
    margin: .5rem 21.5rem;
    padding: 1rem;
    background-color: #2090d0;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    
  }
  
  /* .shop {
    font-size: 0.7rem;
    font-weight: normal;
    color: #0e0d0e;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    box-sizing: content-box;
width: 50%;
height: 20%;
//border: solid #5B6DCD 10px;
padding: 5px;
  } */
  
  .text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
    text-align: left;
  }
  
  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }